@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-8f589p');
	src:url('../fonts/icomoon.eot?#iefix-8f589p') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-8f589p') format('woff'),
		url('../fonts/icomoon.ttf?-8f589p') format('truetype'),
		url('../fonts/icomoon.svg?-8f589p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-html5-01:before {
	content: "\e001";
}

.icon-html5-02:before {
	content: "\e002";
}

.icon-css3-01:before {
	content: "\e003";
}

.icon-css3-02:before {
	content: "\e004";
}

.icon-audiobox-01:before {
	content: "\e005";
}

.icon-box-com:before {
	content: "\e006";
}

.icon-audiobox-02:before {
	content: "\e007";
}

.icon-pictonic-02:before {
	content: "\e008";
}

.icon-pictonic-01:before {
	content: "\e009";
}

.icon-angularjs:before {
	content: "\e00a";
}

.icon-codepen-02:before {
	content: "\e00b";
}

.icon-codepen-01:before {
	content: "\e00c";
}

.icon-bandcamp:before {
	content: "\e00d";
}

.icon-shopify:before {
	content: "\e00e";
}

.icon-prog-pylons-02:before {
	content: "\e00f";
}

.icon-google-currents:before {
	content: "\e010";
}

.icon-prog-cherrypy:before {
	content: "\e011";
}

.icon-prog-backbonejs:before {
	content: "\e012";
}

.icon-prog-pylons:before {
	content: "\e013";
}

.icon-prog-flask:before {
	content: "\e014";
}

.icon-prog-cakephp:before {
	content: "\e015";
}

.icon-rus-yandex-01:before {
	content: "\e016";
}

.icon-rus-vk-02:before {
	content: "\e017";
}

.icon-rus-vk-01:before {
	content: "\e018";
}

.icon-rus-yandex-02:before {
	content: "\e019";
}

.icon-rus-habrahbr:before {
	content: "\e01a";
}

.icon-chn-wechat:before {
	content: "\e01b";
}

.icon-chn-tencent-02:before {
	content: "\e01c";
}

.icon-chn-tencent-01:before {
	content: "\e01d";
}

.icon-chn-tencent-03:before {
	content: "\e01e";
}

.icon-chn-weibo:before {
	content: "\e01f";
}

.icon-chn-renren:before {
	content: "\e020";
}

.icon-livejournal:before {
	content: "\e021";
}

.icon-wikipedia:before {
	content: "\e022";
}

.icon-icq:before {
	content: "\e023";
}

.icon-mailru:before {
	content: "\e024";
}

.icon-skydrive:before {
	content: "\e025";
}

.icon-googledrive-02:before {
	content: "\e026";
}

.icon-googledrive-01:before {
	content: "\e027";
}

.icon-dropbox:before {
	content: "\e028";
}

.icon-adb-speedgrade:before {
	content: "\e029";
}

.icon-adb-acrobat:before {
	content: "\e02a";
}

.icon-adb-audition:before {
	content: "\e02b";
}

.icon-adb-contribute:before {
	content: "\e02c";
}

.icon-adb-bridge:before {
	content: "\e02d";
}

.icon-adb-dreamweaver:before {
	content: "\e02e";
}

.icon-adb-encore:before {
	content: "\e02f";
}

.icon-adb-fireworks:before {
	content: "\e030";
}

.icon-adb-flashbldr:before {
	content: "\e031";
}

.icon-adb-flash:before {
	content: "\e032";
}

.icon-adb-illustrator:before {
	content: "\e033";
}

.icon-adb-indesign:before {
	content: "\e034";
}

.icon-adb-lightroom:before {
	content: "\e035";
}

.icon-adb-onlocation:before {
	content: "\e036";
}

.icon-adb-photoshop:before {
	content: "\e037";
}

.icon-adb-prelude:before {
	content: "\e038";
}

.icon-adb-premiere:before {
	content: "\e039";
}

.icon-adb-framemaker:before {
	content: "\e03a";
}

.icon-adb-captivate:before {
	content: "\e03b";
}

.icon-adb-aftereffects:before {
	content: "\e03c";
}

.icon-adb-robohelp:before {
	content: "\e03d";
}

.icon-corel-draw:before {
	content: "\e03e";
}

.icon-corel-painter:before {
	content: "\e03f";
}

.icon-_x33_dsmax:before {
	content: "\e040";
}

.icon-softimage:before {
	content: "\e041";
}

.icon-lightwave:before {
	content: "\e042";
}

.icon-cinema4d:before {
	content: "\e043";
}

.icon-maya:before {
	content: "\e044";
}

.icon-autocad:before {
	content: "\e045";
}

.icon-autocad-lt:before {
	content: "\e046";
}

.icon-modo:before {
	content: "\e047";
}

.icon-sketchup-01:before {
	content: "\e048";
}

.icon-sketchup-02:before {
	content: "\e049";
}

.icon-solidworks:before {
	content: "\e04a";
}

.icon-houdini:before {
	content: "\e04b";
}

.icon-blender:before {
	content: "\e04c";
}

.icon-vue:before {
	content: "\e04d";
}

.icon-zbrush:before {
	content: "\e04e";
}

.icon-os-ios-dark:before {
	content: "\e04f";
}

.icon-os-osx_1_:before {
	content: "\e050";
}

.icon-os-apple:before {
	content: "\e051";
}

.icon-os-ios:before {
	content: "\e052";
}

.icon-os-win-01:before {
	content: "\e053";
}

.icon-os-win-02:before {
	content: "\e054";
}

.icon-os-win-03:before {
	content: "\e055";
}

.icon-os-win-04:before {
	content: "\e056";
}

.icon-os-linux_1_:before {
	content: "\e057";
}

.icon-lin-debian:before {
	content: "\e058";
}

.icon-os-osx-dark:before {
	content: "\e059";
}

.icon-os-apple-dark:before {
	content: "\e05a";
}

.icon-os-win-01-dark:before {
	content: "\e05b";
}

.icon-os-win-02-dark:before {
	content: "\e05c";
}

.icon-os-win-03-dark:before {
	content: "\e05d";
}

.icon-os-linux:before {
	content: "\e05e";
}

.icon-os-win-04-dark:before {
	content: "\e05f";
}

.icon-pl-dart:before {
	content: "\e060";
}

.icon-pl-clojure:before {
	content: "\e061";
}

.icon-pl-groovy-01:before {
	content: "\e062";
}

.icon-pl-groovy-02:before {
	content: "\e063";
}

.icon-dbs-mysql:before {
	content: "\e064";
}

.icon-dbs-postgresql:before {
	content: "\e065";
}

.icon-dbs-sqlserver:before {
	content: "\e066";
}

.icon-dbs-sqlite:before {
	content: "\e067";
}

.icon-dbs-mongodb:before {
	content: "\e068";
}

.icon-dbs-riak:before {
	content: "\e069";
}

.icon-dbs-couchdb:before {
	content: "\e06a";
}

.icon-dbs-redis:before {
	content: "\e06b";
}

.icon-dbs-hadoop:before {
	content: "\e06c";
}

.icon-dbs-hbase:before {
	content: "\e06d";
}

.icon-dbs-cassandra:before {
	content: "\e06e";
}

.icon-dbs-couchbase-01:before {
	content: "\e06f";
}

.icon-dbs-couchbase-02:before {
	content: "\e070";
}

.icon-dbs-neo4j:before {
	content: "\e071";
}

.icon-vc-svn:before {
	content: "\e072";
}

.icon-vc-git:before {
	content: "\e073";
}

.icon-lin-centos:before {
	content: "\e074";
}

.icon-lin-redhat:before {
	content: "\e075";
}

.icon-lin-fedora:before {
	content: "\e076";
}

.icon-lin-ubuntu:before {
	content: "\e077";
}

.icon-vc-fossil:before {
	content: "\e078";
}

.icon-vc-bazaar:before {
	content: "\e079";
}

.icon-vc-bitbucket-02:before {
	content: "\e07a";
}

.icon-vc-bitbucket-01:before {
	content: "\e07b";
}

.icon-vc-mercurial:before {
	content: "\e07c";
}

.icon-brw-chrome:before {
	content: "\e07d";
}

.icon-brw-safari-01:before {
	content: "\e07e";
}

.icon-brw-safari-02:before {
	content: "\e07f";
}

.icon-brw-firefox:before {
	content: "\e080";
}

.icon-brw-explorer:before {
	content: "\e081";
}

.icon-brw-opera:before {
	content: "\e082";
}

.icon-zerply:before {
	content: "\e083";
}

.icon-social-bakers:before {
	content: "\e084";
}

.icon-android:before {
	content: "\e085";
}

.icon-prog-actionscript:before {
	content: "\e086";
}

.icon-prog-matlab:before {
	content: "\e087";
}

.icon-prog-delphi02:before {
	content: "\e088";
}

.icon-prog-golang01:before {
	content: "\e089";
}

.icon-prog-golang02:before {
	content: "\e08a";
}

.icon-prog-haskell:before {
	content: "\e08b";
}

.icon-prog-scala:before {
	content: "\e08c";
}

.icon-prog-lisp:before {
	content: "\e08d";
}

.icon-prog-basic:before {
	content: "\e08e";
}

.icon-prog-php02:before {
	content: "\e08f";
}

.icon-prog-c:before {
	content: "\e090";
}

.icon-prog-ruby:before {
	content: "\e091";
}

.icon-prog-csharp:before {
	content: "\e092";
}

.icon-prog-cplusplus:before {
	content: "\e093";
}

.icon-prog-ccplusplus:before {
	content: "\e094";
}

.icon-prog-js01:before {
	content: "\e095";
}

.icon-prog-objc:before {
	content: "\e096";
}

.icon-prog-js02:before {
	content: "\e097";
}

.icon-prog-java:before {
	content: "\e098";
}

.icon-prog-dotnet:before {
	content: "\e099";
}

.icon-prog-php01:before {
	content: "\e09a";
}

.icon-prog-vbnet:before {
	content: "\e09b";
}

.icon-prog-aspnet:before {
	content: "\e09c";
}

.icon-prog-visualstudio:before {
	content: "\e09d";
}

.icon-prog-python:before {
	content: "\e09e";
}

.icon-prog-lua01:before {
	content: "\e09f";
}

.icon-prog-lua02:before {
	content: "\e0a0";
}

.icon-prog-air01:before {
	content: "\e0a1";
}

.icon-prog-air02:before {
	content: "\e0a2";
}

.icon-prog-jquery:before {
	content: "\e0a3";
}

.icon-prog-mootools:before {
	content: "\e0a4";
}

.icon-prog-nodejs01:before {
	content: "\e0a5";
}

.icon-prog-nodejs02:before {
	content: "\e0a6";
}

.icon-prog-codeign:before {
	content: "\e0a7";
}

.icon-prog-expression:before {
	content: "\e0a8";
}

.icon-prog-symfony:before {
	content: "\e0a9";
}

.icon-prog-yii:before {
	content: "\e0aa";
}

.icon-prog-zendfrm:before {
	content: "\e0ab";
}

.icon-prog-drupal:before {
	content: "\e0ac";
}

.icon-prog-joomla:before {
	content: "\e0ad";
}

.icon-prog-wordpress:before {
	content: "\e0ae";
}

.icon-prog-magento:before {
	content: "\e0af";
}

.icon-prog-django:before {
	content: "\e0b0";
}

.icon-prog-rails:before {
	content: "\e0b1";
}

.icon-prog-erlang:before {
	content: "\e0b2";
}

.icon-prog-coffeescr:before {
	content: "\e0b3";
}

.icon-prog-perl:before {
	content: "\e0b4";
}

.icon-prog-fortran:before {
	content: "\e0b5";
}

.icon-prog-bash01:before {
	content: "\e0b6";
}

.icon-prog-bash02:before {
	content: "\e0b7";
}

.icon-prog-cobol:before {
	content: "\e0b8";
}

.icon-prog-delphi01:before {
	content: "\e0b9";
}

.icon-github-02:before {
	content: "\e0ba";
}

.icon-soundcloud:before {
	content: "\e0bb";
}

.icon-github-01:before {
	content: "\e0bc";
}

.icon-rdio:before {
	content: "\e0bd";
}

.icon-svpply-01:before {
	content: "\e0be";
}

.icon-grooveshark:before {
	content: "\e0bf";
}

.icon-svpply-02:before {
	content: "\e0c0";
}

.icon-spotify:before {
	content: "\e0c1";
}

.icon-instagram:before {
	content: "\e0c2";
}

.icon-creativesloth:before {
	content: "\e0c3";
}

.icon-xing:before {
	content: "\e0c4";
}

.icon-yammer:before {
	content: "\e0c5";
}

.icon-yahoo:before {
	content: "\e0c6";
}

.icon-wordpress:before {
	content: "\e0c7";
}

.icon-xanga:before {
	content: "\e0c8";
}

.icon-weblink_2:before {
	content: "\e0c9";
}

.icon-windows:before {
	content: "\e0ca";
}

.icon-weblink_1:before {
	content: "\e0cb";
}

.icon-vimeo:before {
	content: "\e0cc";
}

.icon-typepad:before {
	content: "\e0cd";
}

.icon-twitter-2:before {
	content: "\e0ce";
}

.icon-twitter-3:before {
	content: "\e0cf";
}

.icon-tumblr:before {
	content: "\e0d0";
}

.icon-twitter-1:before {
	content: "\e0d1";
}

.icon-slash_dot:before {
	content: "\e0d2";
}

.icon-stumble_upon:before {
	content: "\e0d3";
}

.icon-technorati:before {
	content: "\e0d4";
}

.icon-skype:before {
	content: "\e0d5";
}

.icon-sina:before {
	content: "\e0d6";
}

.icon-share:before {
	content: "\e0d7";
}

.icon-reddit:before {
	content: "\e0d8";
}

.icon-plaxo:before {
	content: "\e0d9";
}

.icon-rss:before {
	content: "\e0da";
}

.icon-pinterest:before {
	content: "\e0db";
}

.icon-picasa:before {
	content: "\e0dc";
}

.icon-paypal:before {
	content: "\e0dd";
}

.icon-odnoklassniki:before {
	content: "\e0de";
}

.icon-orkut:before {
	content: "\e0df";
}

.icon-newsvine:before {
	content: "\e0e0";
}

.icon-news_for_gamers:before {
	content: "\e0e1";
}

.icon-voxopolis:before {
	content: "\e0e2";
}

.icon-myspace:before {
	content: "\e0e3";
}

.icon-mail:before {
	content: "\e0e4";
}

.icon-linkedin:before {
	content: "\e0e5";
}

.icon-last_fm:before {
	content: "\e0e6";
}

.icon-kaboodle:before {
	content: "\e0e7";
}

.icon-instapaper:before {
	content: "\e0e8";
}

.icon-imgur:before {
	content: "\e0e9";
}

.icon-identi-ca:before {
	content: "\e0ea";
}

.icon-hyves:before {
	content: "\e0eb";
}

.icon-hi5:before {
	content: "\e0ec";
}

.icon-friendfeed:before {
	content: "\e0ed";
}

.icon-google__x2B_:before {
	content: "\e0ee";
}

.icon-google:before {
	content: "\e0ef";
}

.icon-gmail:before {
	content: "\e0f0";
}

.icon-fresqui:before {
	content: "\e0f1";
}

.icon-foursquare_2:before {
	content: "\e0f2";
}

.icon-foursquare_1:before {
	content: "\e0f3";
}

.icon-forrst:before {
	content: "\e0f4";
}

.icon-formspring:before {
	content: "\e0f5";
}

.icon-flickr:before {
	content: "\e0f6";
}

.icon-feedburner:before {
	content: "\e0f7";
}

.icon-facebook:before {
	content: "\e0f8";
}

.icon-evernote:before {
	content: "\e0f9";
}

.icon-dribbble:before {
	content: "\e0fa";
}

.icon-digg:before {
	content: "\e0fb";
}

.icon-deviantart:before {
	content: "\e0fc";
}

.icon-design-float:before {
	content: "\e0fd";
}

.icon-delicious:before {
	content: "\e0fe";
}

.icon-bookmark:before {
	content: "\e0ff";
}

.icon-blip:before {
	content: "\e100";
}

.icon-blogger:before {
	content: "\e101";
}

.icon-blinklist:before {
	content: "\e102";
}

.icon-behance:before {
	content: "\e103";
}

.icon-bebo:before {
	content: "\e104";
}

.icon-baidu:before {
	content: "\e105";
}

.icon-apple:before {
	content: "\e106";
}

.icon-amazon:before {
	content: "\e107";
}

.icon-aim:before {
	content: "\e108";
}

.icon-youtube:before {
	content: "\e109";
}

.icon-netlog:before {
	content: "\e10a";
}

